body {
    background: pink url('../images/a.jpg') no-repeat;
}
div {
    width: 100px;
    height: 150px;
    background: greenyellow;
    transform: rotate(95deg);
    transition: transform .4s;
}
div:hover {    
    transform: rotate(150deg);
}
